/**
    Some magic that isn't part of the demo
*/
body {
    margin: 0;
}

/**
    Navigation section
*/
nav {
    background-color: #388E3C;
    padding: 5px;
    padding-left: 10px; /** This works because of the cascading feature in CSS */
}

nav .logo {
    font-size: 2em; /** em -> 1 em is the size of the current font */
    color: white;
}

/** 
    Main section
*/
main {
    text-align: center;
}

.leader-section {
    padding-top: 5px;
    padding-bottom: 20px;
}

.team-row {
    padding-top: 10px;
}

.team-member-container {
    width: 30vw; /** vw -> the width of the view port (which is basically the width of the screen) */
    display: inline-block;
}

/**
    Avatar section
*/
.avatar { 
    width: 100px;
    height: 100px;

    border-radius: 50%; /** border-radius -> is used in order to make DOM elements round */
}

.avatar-description {
    max-width: 160px;
    display: inline-block;
}

